@page "/Company"
@using System.Text.Json;
@layout MenuLayout


<ModalCompanies @ref="modalCompanies" OnStatusChanged="HandleStatusChanged" OnIdSaved="HandleId" OnResetForm="HandleForm" OnChangeData="HandleRefreshGridData"></ModalCompanies>
<ModalAddress @ref="modalAddress" Id="modal-Address" OnStatusChangedMultipleSelection="HandleUserSelectedChanged"></ModalAddress>

<div class="container-fluid mt-5">
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row">
        <div class="col-8">
            <h1>Administración - Datos de la Organización</h1>

        </div>
        <!-- Parte 2: Botón azul alineado a la derecha -->
        <div class="col-4 text-end">
            <button class="btn btn-primary btn-lg btn-block" @onclick="mostrarModal">Crear</button>
        </div>
    </div>

    <!-- Parte 3: Grilla -->
    <div class="row mt-4">
        <div class="col">
            <TelerikGrid Data="CompaniesList" PageSize="meta.pageSize"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         EditMode="GridEditMode.Popup"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>

                    <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">
                        <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit(args.Item as CompaniesDtoResponse))"></GridCommandButton>
                        <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete(args.Item as CompaniesDtoResponse))"></GridCommandButton>
                    </GridCommandColumn>

                    <GridColumn Field="CompanyId" Title="ID" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="BusinessName" Title="Razón social" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="Identification" Title="NIT" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="PhoneNumber" Title="Teléfono" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="CellPhoneNumber" Title="Celular" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="Address" Title="Dirección" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="Email" Title="Correo Electrónico" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="WebAddress" Title="Página web" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="CountryName" Title="País" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="StateName" Title="Departamento" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                    <GridColumn Field="CityName" Title="Municipio" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />


                </GridColumns>
            </TelerikGrid>



        </div>
    </div>

    <PaginationComponent ObjectMeta="meta" T="CompaniesDtoResponse" OnPaginationRefresh="HandlePaginationGrid"></PaginationComponent>
</div>
<ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>