
<div class="card shadow bg-white rounded">
    <div class="card-body">
        <div class="row d-flex align-items-center ">
            <div class="col-md-3 text-center">
                
                <img src="..\img\userCardImage.svg"  />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <label><b>Nombre:</b> @FullName</label>
                </div>
                <div class="row">
                    <label> <b>Unidad administrativa:</b> @AdministrativeUnitName</label>
                </div>
                <div class="row">
                    <label> <b>Oficina productora:</b> @ProductionOfficeName</label>
                </div>
                <div class="row">
                    <label> <b>Cargo:</b> @Positionname</label>
                </div>
            </div>
        </div>

    </div>
</div>

