<div class="custom-checkbox" @onclick="ToggleCheckbox">
    <div class="checkbox-inner" style="background-color: @CheckboxColor; border: 1px solid @CheckboxBorderColor;">
        @if (isChecked)
        {
            <div class="check-mark" style="color: @CheckIconColor;">@CheckIcon</div>
        }
    </div>
    <label>
        <span style="color: @TextColor; font-family: @FontFamily; font-style: @FontStyle">@LabelText</span>
    </label>
    <input type="checkbox" style="display: none;" @bind="isChecked" />
</div>

@* <CheckBoxComponent isChecked="true"
                   TextColor="black"
                   FontFamily="Verdana"
                   FontStyle="italic"
                   LabelText="My Checkbox"
                   CheckboxColor="white"
                   CheckboxBorderColor="gray"
                   CheckIcon="∎"
                   CheckIconColor="red" /> *@

