@if (IsVisible)
{
    <div class="input-container">
        <label class="mb-2" for="inputField">
            @LabelText
            @if (IsRequired)
            {
                <span class="red">*</span>
            }
        </label>
    </div>

    <div class="input-container">
        <input @attributes="GetInputAttributes()" @bind-value="InputValue" @bind-value:event="oninput" type="@InputType" />
    </div>
}



 
 
