55.input-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex: 1;
    margin-right: 0px;
}

.input-container input {
    margin-right: 0px;
    border-radius: 6px;
    padding: 2px;
    padding-left: 12px;
    border: 1px solid #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 100%;
    margin-left: 0px;
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none;
}

    .input-container input:required:invalid {
        border-color: red !important;
    }

    .input-container input:focus {
        border-color: #41BAEA !important;
    }
