.my-cards {
    height: 100%;
}

@media (min-width: 1200px){

    .card-profile {
        max-width: 65%;
        margin-right: 1.65em;
    }

    .space-labels {
        margin-bottom: 30px;
    }

    .my-buttons {
        width: 70%;
        margin-top: 10%;
    }

    .pt-card1 {
        padding: 6px 50px;
    }

    .pt-card2 {
        padding: 24px 50px 30px;
    }
}

@media (max-width: 1200px){

    .card-profile{
        margin-bottom: 30px;
    }

    .card-profile-content {
        padding: 0 80px 20px;
    }

    .space-labels {
        margin-bottom: 10px;
    }

    .center-object {
        justify-content:  center;
    }

    .my-buttons {
        width: 70%;
        margin-top: 5%;
    }

    .pt-card1 {
        padding: 6px 50px;
    }

    .pt-card2 {
        padding: 24px 50px 30px;
    }
}

@media (max-width: 990px) {

    .card-profile-content {
        padding: 0 20px 20px;
    }

    .pt-column {
        padding-top: 10%;
    }

    .pt-card1 {
        padding: 6px 50px;
    }

    .pt-card2 {
        padding: 24px 50px 30px;
    }
}

@media (max-width: 572px) {

    .card-profile-content {
        padding: 0 10px 0;
    }

    .pt-card1 {
        padding: 10px 10px;
    }

    .pt-card2 {
        padding: 24px 10px 30px;
    }
}

label{
    font-size: 15px;
}

.profile-picture {
    position: relative;
    width: 223px;
    height: 223px;
    overflow: visible;
}

.profile-img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .profile-img img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: block;
    }

.edit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20%;
    height: 20%;
    background-color: #1b6ec2;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    align-content: center;
    align-items: center;
}

    .edit-button i {
        position: absolute;
        width: 60%;
        height: 60%;
        transform: translate(-50%, -50%);
        color: white;
    }

.password-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
