
<TelerikWindow Class="myWindow"
               Modal=true
               Width=@Width
               Height="fit-content"
               MaxHeight="90%"
               Centered="true"
               Visible="IsVisible"
               Draggable="false">
    <WindowTitle>
        <div class="row w-100">
            <div class="col-10">
                <strong>@Title</strong>
            </div>

            <div class="col-2 d-flex gap-4 d-flex justify-content-end ">
                <button class="svg-button d-none d-sm-inline-block">
                    <img src="../img/dimensionar.svg" />
                </button>
                <button class="svg-button">
                    <img src="../img/vector.svg" @onclick="CloseModal" />
                </button>
            </div>
        </div>



    </WindowTitle>

    
    <WindowContent>
        <div class="contenedor-modal">
            @ChildContent
            <div class="row img-footer">
                <img src="../img/maskGroup.svg" alt="Tu Imagen" class="imagen-inferior-derecha" />
            </div>
        </div>
    </WindowContent>
</TelerikWindow>