
<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Visualización de Metadatos" IsVisible="modalStatus" Width="80%" OnModalClosed="HandleModalClosed">
            <div class="row">
@*                 <TelerikGrid Data="data"
                             Sortable="true"
                             Resizable="false"
                             ScrollMode="@GridScrollMode.Scrollable"
                             Height="480px"
                             RowHeight="60"
                             Reorderable="true"></TelerikGrid> *@
            </div>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
