<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Listado Mestro de Formatos" IsVisible="modalStatus" Width="80%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <!-- div para el filtro de busqueda-->
                <div class="row">
                    <h5>Seleccione la plantilla que se cargará en el editor CeroPapel</h5>
                </div>
                <div class="row mt-5 px-5 d-flex flex-row">
                    <div class="col-4">
                        <div class="row space-labels">
                            <InputModalComponent @ref="tempCodeInput" LabelText="Código" Placeholder="Código" IsVisible="true"></InputModalComponent>
                        </div>
                        <div class="row space-labels">
                            <InputModalComponent @ref="tempNameInput" LabelText="Nombre" Placeholder="Nombre" IsVisible="true"></InputModalComponent>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row space-labels">
                            <InputModalComponent @ref="tempVersionInput" LabelText="Versión" Placeholder="Versión" IsVisible="true"></InputModalComponent>
                        </div>
                        <div class="row space-labels">
                            <InputModalComponent @ref="processInput" LabelText="Proceso" Placeholder="Proceso" IsVisible="true"></InputModalComponent>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-6" style="padding: 80px 50px">
                            <div class="row">
                                <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="GetTemplateDocByFilter">Buscar</button>
                            </div>
                            <div class="row mt-1">
                                <a style="font-size: 15px; color: #2196F3">No usar plantilla</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- div para la grilla-->
                <div class="row">
                    <TelerikGrid Data="templateDocumentList"
                                 Sortable="true"
                                 FilterMode="GridFilterMode.FilterMenu"
                                 Resizable="true"
                                 Reorderable="true"
                                 EditMode="GridEditMode.Popup"
                                 SelectionMode="GridSelectionMode.None">
                        <GridColumns>
                            <GridColumn Field="TempCode"
                                        Title="Código"
                                        Width="150px"
                                        Filterable="true"
                                        TextAlign="ColumnTextAlign.Center"
                                        HeaderClass="center-wrap" />
                            <GridColumn Field="TempName"
                                        Title="Nombre Plantilla"
                                        Width="150px"
                                        Filterable="true"
                                        TextAlign="ColumnTextAlign.Center"
                                        HeaderClass="center-wrap" />
                            <GridColumn Field="TempVersion"
                                        Title="Versión"
                                        Width="150px"
                                        Filterable="true"
                                        TextAlign="ColumnTextAlign.Center"
                                        HeaderClass="center-wrap" />
                            <GridColumn Field="Process"
                                        Title="Proceso"
                                        Width="150px"
                                        Filterable="true"
                                        TextAlign="ColumnTextAlign.Center"
                                        HeaderClass="center-wrap" />
                            <GridCommandColumn Width="50px" Title="Cargar" HeaderClass="center-wrap" Visible="true">
                                <div class="d-flex justify-content-space-evely" style="justify-content: space-evenly">
                                    <GridCommandButton Icon="@SvgIcon.Upload"></GridCommandButton>
                                </div>
                            </GridCommandColumn>
                        </GridColumns>
                    </TelerikGrid>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
