@using ControlDoc.Models.Models.Generic
<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Bandeja de anulación - Nueva solicitud" IsVisible="modalStatus" OnModalClosed="HandleModalClosed" width="70%">
            <ChildContent>


                <EditForm Model="@adminUnitDtoResponse" OnValidSubmit="HandleValidSubmit">
                    <div class="row">
                        <div class="col-4">
                            <label>Tipo de solicitud<span class="darkred">*</span></label>
                            <InputModalComponent IsRequired="true" LabelText="Documento" Placeholder="Ingrese el Documento" FieldType="ValidationType.NumbersOnly" />
                            @* TODO: Dropdown de solicitud *@
                        </div>
                        <div class="col-4">
                            <label>Tipo de Anulación<span class="darkred">*</span></label>
                            <InputModalComponent IsRequired="true" LabelText="Documento" Placeholder="Ingrese el Documento" FieldType="ValidationType.Name" />
                            @* TODO: Dropdown de tipo de anulacion *@
                        </div>
                        <div class="col-4">
                            <label>Motivo anulación<span class="darkred">*</span></label>
                            <InputModalComponent IsRequired="true" LabelText="Documento" Placeholder="Ingrese el Documento" FieldType="ValidationType.Name" />
                            @* TODO: Dropdown de motivo de anulacion *@
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            @* <TelerikTextArea @bind-Value="@txtAInformation"
                                             AutoSize="true"
                                             Width="100%"
                                             Id="txtAInformation"
                                             Size="lg"
                                             Class="txtAInformation" /> *@
                            <textarea class="w-100 custom-textarea"
                                      id="txtAInformation"
                                      placeholder="" 
                            required maxlength="500" >
                        </textarea>

                            @* TODO: Text area donde muestra la informacion del funcionario *@
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-md-6">
                                @* TODO: Input y boton para validar el documento *@
                                <InputModalComponent IsRequired="true" LabelText="Documento" Placeholder="Ingrese el Documento" FieldType="ValidationType.NumbersOnly" />
                                </div>
                                <div class="col-md-6 mt-4">
                                <button class="btn btn-primary btn-lg btn-block" type="button" @onclick="Save">Verificar</button>
                                </div>
                            </div>
                            <div class="row">
                                <label>Prueba de anulación<span class="darkred">*</span></label>
                                @* TODO: Componente de subir documento *@

                                <DragAndDropFilesComponent OnFileListChanged="HandleFilesList"></DragAndDropFilesComponent>

                            </div>
                        </div>
                    </div>
                    <div class="row align-self-center mt-5">
                        <!-- Parte Derecha: Dos Botones -->
                        <div class="col">
                            <div class="text-center">

                                <button class="btn btn-primary btn-lg btn-block" type="submit" >Guardar</button>
                            </div>
                        </div>
                    </div>



                </EditForm>


                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>


            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
<style>
    #txtAInformation {
        height: 100% !important;
    }

    .k-textarea .k-input .telerik-blazor .k-input-solid .k-rounded-md .k-input-md {
        height: 100% !important;
    }
</style>