.my-modal .botones-container button {
    margin-left: 10px;
    margin-bottom: 6px;
}

.my-modal .botones {
    width: 48%;
    height: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.my-modal .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .my-modal .columna {
        width: 30%;
        margin-right: 5%;
    }

        .my-modal .columna:last-child {
            margin-right: 0;
        }
}

.my-modal .botones.buscar {
    background: #2196F3;
    color: #fff;
    border: 1px solid #2196F3;
}

.my-modal .botones.agregar {
    width: 20%;
    margin-left: 0.8%;
    margin-top: 2%;
}

.my-modal .cartaDelUsuario {
    border-color: black;
    border-radius: 18%
}

.k-dialog-wrapper {
    z-index: 10001 !important;
}

.k-tabstrip-items-wrapper .k-item.active {
    border-color: gray !important;
    color: white !important;
    background-color: red !important;
}