<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" @onclick=HandleClick data-bs-toggle="dropdown">@title</button>
    <div class="dropdown-menu @(show ? "show" : "")" tabindex="-1">
        <input class="list-group-item list-group-item-action" @bind="search" @oninput="HandleInputChange" placeholder="@Placeholder" />
        <div class="scrollable-menu list-group">

            @foreach (var item in dataCopy)
            {
                <a class="list-group-item list-group-item-action" @onclick="() => SelectValue(item.Key)" aria-current="true"> @item.Value </a>
            }

            @if (!dataCopy.Any())
            {
                <a @onclick:preventDefault class="list-group-item list-group-item-action">Sin contenido</a>
            }

        </div>
    </div>
</div>
