.my-modal .botones-container button {
    margin-left: 10px;
    margin-bottom: 6px;
}

.my-modal .botones {
    width: auto;
    flex-shrink: 0;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0.3em 2.5em;
}

.my-modal .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .my-modal .columna {
        width: 30%;
        margin-right: 5%;
    }

        .my-modal .columna:last-child {
            margin-right: 0;
        }
}

.cuadro-botones {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    align-items: flex-end;
}

.my-modal .botones.guardar {
    background: #2196F3;
    color: #fff;
    border: 1px solid #2196F3;
}

.my-modal .botones.limpiar {
    border: 1px solid #2196F3;
    background: #fff;
    color: #2C2C2C;
}
