@using ControlDoc.Models.Models.Generic
<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Version Documental" IsVisible="modalStatus" OnModalClosed="HandleModalClosed" width="70%">
            <ChildContent>


                <EditForm  OnValidSubmit="HandleValidSubmit">
                    <div class="row">
                        <h2>Datos de la version documental</h2>
                        <div class="col-4">

                            <InputModalComponent IsRequired="true" LabelText="ID" Placeholder="Ingrese el Documento" FieldType="ValidationType.NumbersOnly" />
                            @* TODO: Dropdown de solicitud *@
                        </div>
                        <div class="col-md-1 mt-4">
                            <label>Activo</label>
                        </div>
                        <div class="col-md-1 mt-4">
                            <TelerikSwitch @bind-Value="@SelectActivoState" OnLabel="" OffLabel="" Class="mt-2"></TelerikSwitch>
                        </div>


                    </div>
                    <div class="row mt-4">

                        <div class="col-3">
                            <InputModalComponent IsRequired="true" LabelText="Codigo" Placeholder="Codigo" FieldType="ValidationType.Name" />
                        </div>

                        <div class="col-3">
                            <label class="mb-2">Desde</label>
                            <TelerikDatePicker @bind-Value="@from"
                                               Format="MM/dd/yyyy"
                                               ShowWeekNumbers="false">

                            </TelerikDatePicker>
                        </div>
                        <div class="col-3">
                            <label class="mb-2">Hasta</label>
                            <TelerikDatePicker @bind-Value="@to"
                                               Format="MM/dd/yyyy"
                                               ShowWeekNumbers="false">

                            </TelerikDatePicker>
                        </div>




                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            @* TODO: Dropdown de la version *@
                            <InputModalComponent IsRequired="true" LabelText="Tipo de version" Placeholder="Seleccion de tipo" FieldType="ValidationType.NumbersOnly" />
                        </div>
                        <div class="col-md-6 ">
                            @* TODO: Dropdown de entidad *@
                            <InputModalComponent IsRequired="true" LabelText="Entidad" Placeholder="Seleccione entidad" FieldType="ValidationType.NumbersOnly" />
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <h2>Documentos de la version de la documental</h2>
                        <div class="col-md-6 mt-4" style="height: 236px;">
                            <InputModalComponent IsRequired="true" LabelText="Acto administrativo" Placeholder="" FieldType="ValidationType.NumbersOnly" />
                            @* TODO: Componente de subir acta *@
                            <label class="mb-2">Archivo acto administrativo</label>
                            <DragAndDropTemplateComponent OnFileListChanged="HandleFilesListActas"></DragAndDropTemplateComponent>

                        </div>
                        <div class="col-md-6 mt-4" style="height: 236px;">
                            <label class="mb-2">Fecha de acto administrativo</label>
                            <TelerikDatePicker @bind-Value="@to"
                                               Format="MM/dd/yyyy"
                                               ShowWeekNumbers="false">

                            </TelerikDatePicker>
                            @* TODO: Componente de subir acta *@
                            <label class="mb-2">Archivo de organigrama</label>
                            <DragAndDropTemplateComponent OnFileListChanged="HandleFilesOrganigrama"></DragAndDropTemplateComponent>

                        </div>
                    </div>

                    <div class="row align-self-center mt-4">
                        <!-- Parte Derecha: Dos Botones -->
                        <div class="col">
                            <div class="text-center">

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>



                </EditForm>


                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>


            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
