
li {
    margin: 5px 0;
    flex: 0 0 calc(33.33% - 10px); /* Máximo 3 elementos por fila */
    text-align: center;
    min-width: 70px;
    max-width: 150px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90px;
    min-height: 63px;
    max-width: 155px;
    text-align: center;
    min-width: 83px;
    padding: 7px 1px;
    margin-left: 10px;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    width: 138px;
    margin-top: 5px;
    line-height: 16px;
}

.text-item {
    line-height: 16px;
    color: #4D4D4D;
    max-width: 143px;
    min-width: 73px;
}

/* Ajusta el tamaño de la imagen */
.icon-buttons {
    height: auto;
    padding-bottom: 3px;
}

.nav-item-subitem {
    min-width: 70px;
    max-width: 140px;
}

.nav-link.active {
    background-color: #F8F8F8;
    border-radius: 5px;
    /*position: relative; Agrega posición relativa para el elemento contenedor */
}


/* Estilos para un nav-link (icono) cuando el mouse pasa por encima */
.nav-link:hover {
    color: #41BAEA; /* Cambiar el color del texto */
}


.nav-link.active .text-item {
    color: #41BAEA;
}

.style-2 {
    margin: 5px 0;
    flex: 0 0 calc(47% - 10px); /* Máximo 3 elementos por fila */
    text-align: center;
    min-width: 70px;
    max-width: 140px;
}

.style-3 {
    margin: 5px 0;
    flex: 0 0 calc(47% - 10px); /* Máximo 3 elementos por fila */
    text-align: center;
    min-width: 70px;
    max-width: 159px; /*posible 150*/
}