@using ControlDoc.Components.Components.DatePicker
@inherits LayoutComponentBase

<TelerikRootComponent>
 <div class="page-wrapper">
    <div class="responsive-background"></div>
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: #EAEAEA; border-bottom: 5px solid #44B9E8;">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand" href="#">
                    <img src="../img/logoControl.svg" alt="Logo" class="navbar-logo" />
                </a>
                <div class="d-flex align-items-center">
                    <div class="pe-4 hide-on-small">
                         <DropDownLanguageComponent TextColor="black"/>
                    </div>

                    <img src="../img/iconotrespuntos.svg" alt="Más opciones" class="dots-icon ms-3" />
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid p-0 main-content d-flex flex-column">
        <div class="row flex-grow-1 g-0">
            <div class="col-7 d-flex flex-column logo-target">
                <div class="p-4 text-center logo-container show-on-small">
                    <div class="mb-4">
                        <img src="../img/logo.png" alt="Logo" class="img-fluid" />
                    </div>
                    <div class="mb-4">
                          <DropDownLanguageComponent TextSize="18px" ArrowIconColor="white" TextColor="white"/>
                    </div>
                    <div >
                        <LabelComponent KeyName="BienvenidosLabel" For="name-field" FontSize="24px" IsBold="true" IsCentered="true" />
                    </div>
                </div>
                <div class="flex-grow-1">
                </div>
            </div>
            <div class="col-5 bg-custom d-flex flex-column">
                <div class="p-4 text-center logo-container hide-on-small" >
                    <img src="../img/logo.png" alt="Logo" class="img-fluid" />
                </div>
                <div class="flex-grow-1 position-relative">
                    <div class="d-flex justify-content-center align-items-center mt-3 mr-3 mx-auto" style="max-width: 70%;">
                        @Body
                    </div>
                </div>
                <div class="position-absolute bottom-0 end-0 logo-wrapper z-n1">
                </div>

            </div>
        </div>
    </main>
    <footer class="footer-wrapper" style="background-color: #EAEAEA; text-align: center; padding: 15px 0; flex-shrink: 0; margin-top: auto; border-top: 5px solid #44B9E8;">
        <div class="container">
            <p class="footer-text m-0">
                  <a href="#" class="text-dark">@DropDownLanguageComponent.GetText("Politicas")</a> @DropDownLanguageComponent.GetText("TerminosyCondiciones")
            </p>
        </div>
    </footer>
</div> 
</TelerikRootComponent>