<div class="card card-shadow-info"
     style="--border-color: @BorderColor; border-left-color: @BorderColor;">
    <div class="card-body">
        <div class="row">
            <div class="col-12 style-st">
                <label><b>@CardNumber</b></label>
            </div>
            <div class="col-12">
                <label><b>@LabelText</b></label>
            </div>
            <div class="col-12">
                <img src="@ImageUrl" /> <label>@CardNumberPercen</label>
            </div>

        </div>
    </div>
</div>