<div class="card card-shadow card-shadow-info"
     style="--border-color: @BorderColor; --shadow-color: @ShadowColor; border-left-color: @BorderColor;">
    <div class="card-body" @onclick="OnClickCard">
        <div class="row">
            <div class="col-6 style-st">
                <label> <b>@CardNumber</b></label>
            </div>
            <div class="col-6" style="text-align: end;">
                <img src="@ImageUrl" />
            </div>
            <div class="col-12">
                <label><b>@LabelText </b></label>
            </div>
        </div>
    </div>
</div>